.container {
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 282px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover {
    height: 250px;
    width: 100%;
}

.container h2,
.favorite {
    padding: 0 1em;
}

.favorite {
    width: 22px;
}